/*Reset*/

*,body,li,a,p,h1,h2,h3,h4,h5,h6 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
}
p{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-stretch: 2.7;
}
h1 {
    font-family: 'Bellefair', serif;
    font-size: 150px;
    font-weight: 400;
}
h2 {
    font-family: 'Bellefair', serif;
    font-size: 100px;
    font-weight: 400;
}
h3 {
    font-family: 'Bellefair', serif;
    font-size: 56px;
    font-weight: 400;
}
h4 {
    font-family: 'Bellefair', serif;
    font-size: 32px;
    font-weight: 400;
}
h5 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    font-weight: 400;
    font-stretch: 4.75;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.page1 {
    background: gray;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;
}

/*nav-bar*/
/*nav*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 375px;
    padding: 24px;
}

/*display*/
    .trait {
        display: none;
        position: absolute;
        left: 167px;
        width: 473px;
        opacity: 0.25;
        border: solid 1px #979797;
    }
    .nav-liste {
        position: absolute;
        top: 0;
        left: 121px;
        width: 254px;
        height: 100vh;
        

        /*background*/
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(81.5485px);
        -webkit-backdrop-filter: blur(81.5485px);
        /*background*/
    }
    .nav-liste ul {
        margin-left: 32px;
        margin-top: 113px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 32px;
    }
    .nav-liste li, .nav-liste a {
        display: flex;
        align-items: center;
        width: 100%;
        height: 31px;
    }
    /*hover*/
        .nav-liste a:hover {
            border-right: solid 4px #ffffff ;
        }
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 21px;
        z-index: 1;
    }
    .trait-menu {
        width: 24px;
        height: 3px;
        background: #d0d6f9;
        transition: 500ms;
    }

    /* JS */
        /*display none*/
            .none {
                display: none;
            }
        /*transfom menu*/
            .trans1 {
                transform: rotateZ(45deg) translate(5.5px, 7px);
                width: 30px;
            }
            .trans2 {
                transform: rotateZ(-45deg) translate(5.5px, -7px);
                width: 30px;
            }
    
            


    @media screen and (min-width: 768px) {
        

        /*nav*/
        nav {
            width: 768px;
            padding: 0 0 0 39px;
        }
        .nav-liste {
            display: flex;
            justify-content: space-around;
            align-items: center;
            position: relative;
            width: 450px;
            height: 96px;
            left: 0;
        }
        
            /*display*/
                .nav-liste strong {
                    display: none;
                }
                .nav-liste ul {
                    margin: 0;
                    display: flex;
                    flex-direction: row;
                    height: 100%;
                }
                .nav-liste li, .nav-liste a {
                    display: flex;
                    align-items: center;
                    width: unset;
                    height: 100%;
                }
                /*hover*/
                    .nav-liste a:hover {
                        border-right: none ;
                        border-bottom: solid 4px #ffffff ;
                    }

                .menu {
                    display: none;
                }


    }

    @media screen and (min-width: 1440px) {
        

        /*nav*/
        nav {
            width: 1385px;
            margin: 40px 0 0 55px;
            padding: 0;
        }
        .nav-liste {
            width: 830px;
        }
            /*display*/
                .trait {
                    display: inline;
                }
                .nav-liste strong {
                    display: unset;
                }
                .nav-liste ul {
                    margin: 0;
                    display: flex;
                    flex-direction: row;
                    gap: 32px;
                }
                .nav-liste p {
                    letter-spacing: 2.7px;
                }
                .menu {
                    display: none;
                }


    }