/*Reset*/

*,body,li,a,p,h1,h2,h3,h4,h5,h6 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #ffffff;
}
p{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-stretch: 2.7;
}
h1 {
    font-family: 'Bellefair', serif;
    font-size: 150px;
    font-weight: 400;
}
h2 {
    font-family: 'Bellefair', serif;
    font-size: 100px;
    font-weight: 400;
}
h3 {
    font-family: 'Bellefair', serif;
    font-size: 56px;
    font-weight: 400;
}
h4 {
    font-family: 'Bellefair', serif;
    font-size: 32px;
    font-weight: 400;
}
h5 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    font-weight: 400;
    font-stretch: 4.75;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*nav-bar*/
/*nav*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 375px;
    padding: 24px;
}

/*display*/
    .trait {
        display: none;
        position: absolute;
        left: 112px;
        width: 473px;
        opacity: 0.25;
        border: solid 1px #979797;
    }
    .nav-liste {
        position: absolute;
        top: 0;
        left: 121px;
        width: 254px;
        height: 100vh;
        

        /*background*/
        background: rgba(255, 255, 255, 0.04);
        -webkit-backdrop-filter: blur(81.5px);
        backdrop-filter: blur(81.5px);
        /*background*/
    }
    .nav-liste ul {
        margin-left: 32px;
        margin-top: 113px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 32px;
    }
    .nav-liste li, .nav-liste a {
        display: flex;
        align-items: center;
        width: 100%;
        height: 31px;
    }
    /*hover*/
        .nav-liste a:hover {
            border-right: solid 4px #ffffff ;
        }
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 21px;
        z-index: 1;
    }
    .trait-menu {
        width: 24px;
        height: 3px;
        background: #d0d6f9;
        transition: 500ms;
    }

    

/*home*/
.home {
    background-image: url(starter-code/assets/home/background-home-mobile.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 112px 24px;
    gap: 81px;
}
    /*gauche*/
    .gauche {
        height: 276;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
        /*home txt*/
            .gauche h5 {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                letter-spacing: 2.7px;
                color: #D0D6F9;
            }
            .gauche h1 {
                font-style: normal;
                font-weight: normal;
                font-size: 80px;
                text-align: center;
                line-height: 100px;
            }
            .gauche p {
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                text-align: center;
                line-height: 25px;
                color: #D0D6F9;
            }
    /*droite*/
    .droite {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        
    }    
        /*txt*/
        .droite a {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #ffffff;
        }
        .droite h4 {
            text-align: center;
            color: #0b0d17;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 23px;
            letter-spacing: 1.25px;
        }    

/*destination*/
.destination {
    background-image: url(starter-code/assets/destination/background-destination-mobile.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -1;
}


    @media screen and (min-width: 768px) {
        
        
        /*nav*/
        nav {
            width: 768px;
            padding: 0 0 0 39px;
        }
        .nav-liste {
            display: flex;
            justify-content: space-around;
            align-items: center;
            position: relative;
            width: 450px;
            height: 96px;
            left: 0;
        }
        
            /*display*/
                .nav-liste strong {
                    display: none;
                }
                .nav-liste ul {
                    margin: 0;
                    display: flex;
                    flex-direction: row;
                    height: 100%;
                }
                .nav-liste li, .nav-liste a {
                    display: flex;
                    align-items: center;
                    width: unset;
                    height: 100%;
                }
                /*hover*/
                    .nav-liste a:hover {
                        border-right: none ;
                        border-bottom: solid 4px #ffffff ;
                    }

                .menu {
                    display: none;
                }
        /*home*/
        .home {
            background-image: url(starter-code/assets/home/background-home-tablet.jpg);
            padding: 202px 159px 0 159px;
            gap: 156px;
        }
            /*gauche*/
            .gauche {
                height: 334px;
            }
                /*home txt*/
                .gauche h5 {
                    font-size: 20px;
                    line-height: 24px;
                    letter-spacing: 3.375px;
                }
                .gauche h1 {
                    font-size: 150px;
                    line-height: 150px;
                }
                .gauche p {
                    font-size: 16px;
                    line-height: 28px;
                }
            /*droite*/
            .droite {
                width: 242px;
                height: 242px;
            }
            .droite h4 {
                font-size: 32px;
                line-height: 37px;
                letter-spacing: 2px;
            }     

        /*destination*/
        .destination {
            background-image: url(starter-code/assets/destination/background-destination-tablet.jpg);
        }
        
    }

    @media screen and (min-width: 1440px) {
        
        
        /*nav*/
        nav {
            position: relative;
            width: 1385px;
            margin: 40px 0 0 55px;
            padding: 0;
        }
        .nav-liste {
            width: 830px;
        }
            /*display*/
                .trait {
                    display: inline;
                }
                .nav-liste strong {
                    display: unset;
                }
                .nav-liste ul {
                    margin: 0;
                    display: flex;
                    flex-direction: row;
                    gap: 32px;
                }
                .nav-liste p {
                    letter-spacing: 2.7px;
                }
                .menu {
                    display: none;
                }
        /*home*/
        .home {
            background-image: url(starter-code/assets/home/background-home-desktop.jpg);
            flex-direction: row;
            padding: 0 0 131px 165px;
            align-items: flex-end;
            gap: 298px;
        }
            /*gauche*/
            .gauche {
                width: 450px;
                height: 382px;
            }
                /*home txt*/
                .gauche h5 {
                    font-size: 28px;
                    line-height: 34px;
                    letter-spacing: 4.725px;
                    text-align: start;
                }
                .gauche h1 {
                    line-height: 172px;
                    text-align: start;
                }
                .gauche p {
                    font-size: 18px;
                    line-height: 32px;
                    text-align: start;
                }
            /*droite*/
            .droite {
                width: 450px;
                height: 450px;
                padding: 88px;
                position: relative;
                top: 88px;
            }
            .droite:hover {
                background: rgba(255, 255, 255, 0.1);
            }
            .droite h4 {
                font-size: 32px;
                line-height: 37px;
                letter-spacing: 2px;
            } 
            
          /*destination*/
          .destination {
            background-image: url(starter-code/assets/destination/background-destination-desktop.jpg);
        }
    }

/* JS */
        /*display none*/
        .none {
            display: none;
        }
    /*transfom menu*/
        .trans1 {
            transform: rotateZ(45deg) translate(5.5px, 7px);
            width: 30px;
        }
        .trans2 {
            transform: rotateZ(-45deg) translate(5.5px, -7px);
            width: 30px;
        }